<%= form_for (@cat) do |f| %>

  <div class="field">
    <%= f.label :pet_name %>
    <%= f.text_field :pet_name %>
  </div>

  <div class="field">
    <%= f.label :gender %>
    <%= f.collection_select(:gender_id, Gender.all.order(:gender), :id, :gender, { include_blank: true } ) %>
  </div>

  <div class="field">
    <%= f.label :breed %>
    <%= f.collection_select(:breed_id, Breed.all.order(:breed_name), :id, :breed_name, { include_blank: true } ) %>
  </div>

  <div class="field">
    <%= f.label :coat_colour %>
    <%= f.collection_select(:coat_colour_id, CoatColour.all.order(:colour), :id, :colour, { include_blank: true } ) %>
  </div>

  <div class="field">
    <%= f.label :registered_name %>
    <%= f.text_field :registered_name %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.collection_select(:title_id, Title.all.order(:title), :id, :title, { include_blank: true } ) %>
  </div>

  <div class="field">
    <%= f.label :registration_number %>
    <%= f.text_field :registration_number %>
  </div>

  <div class="field">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth %>
  </div>

  <div class="field">
    <%= f.label :date_of_death %>
    <%= f.text_field :date_of_death %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
  </div>

  <div class="actions">
    <%= f.submit class: "cat-button" %>
  </div>
<% end %>