<!DOCTYPE html>

<html>
  <head>
    <title>CatStats</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Dosis|Lato' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="content">
      <div class="header">
        <div class="title">
          <h1><%= link_to "Cat Stats", cats_path %></h1>
        </div>

        <nav>
          <ul id="nav-links">
            <li><%= link_to "List Cats", cats_path %></li>
            <li><%= link_to "Add Cat", new_cat_path %></li>
          </ul>
        </nav>
      </div>

      <div class="cats">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </div>
  </body>
</html>
